
.background {
    background: url(../images/background2.jpg) no-repeat;
    background-size: cover;
    display: block;
    min-height: 425px;
    position: relative;
}

.background2 {
    background: url(../images/background2.jpg) no-repeat;
    background-size: cover;
    display: block;
    min-height: 250px;
    position: relative;
}

.back h3 {
    text-align: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Lobster Two', cursive;
    margin-top: 90px;
}

.textbox h3 {
    margin-top: 35px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
}

.textbox input {
    border: hidden;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    width: 100%;
    min-height: 41px;
    border-radius: 4px;
    padding: 7px 15px;
}

.recommend h2 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #515151;
    font-size: 35px;
    font-weight: 700;
}

.rec-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.restaurant h3 {
    font-family: 'Lobster Two', cursive;
    color: #515151;
    font-size: 35px;
    font-weight: 700;
}

.food h3 {
    font-family: 'Lobster Two', cursive;
    color: #515151;
    font-size: 35px;
    font-weight: 700;
}

.section8 {
    background-color: #515151;
    padding: 60px 0 60px;
}

.site h3 {
    color: #FFF;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

.sitelink li {
    border-bottom: 1px dashed #9d9d9d;
    padding: 10px 0 10px;
}

.sitelink a {
    color: #9d9d9d;
    font-weight: 400;
    margin-left: 5px;
    text-decoration: none;
}

.social li {
    border-bottom: 1px dashed #9d9d9d;
    padding: 10px 0 10px;
}

.social a {
    color: #9d9d9d;
    font-weight: 400;
    margin-left: 5px;
    text-decoration: none;
}

.top-cuis {
    width: 164px;
    height: 110px;
    object-fit: cover;
}

.top-res {
    width: 170px;
    height: 113px!important;
    object-fit:fill;
}

.bg {
    height: 150%;
    width: 100%;
    border-radius: 10px;
    background-color: brown;
}

.images h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffcc00;
    font-size: 30px;
    padding: 30px 0;
    font-weight: 100;
}

.section4 {
    padding: 60px 0 60px;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}

.section5 {
    padding: 60px 0 60px;
    border-top: 2px solid #CCC;
}

.point {
    margin: 25px 0;
}

.point p {
    margin: 5px 0;
}

.point span {
    color: #ffcc00;
}

.point a {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
    text-decoration: none;
}

.imgs img {
    margin-top: 10px;
}
