.background {
    background: url(../images/background2.jpg) no-repeat;
    background-size: cover;
    display: block;
    min-height: 425px;
    position: relative;
}

.back h3 {
    text-align: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Lobster Two', cursive;
    margin-top: 90px;
}

.textbox h3 {
    margin-top: 35px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
}

.textbox input {
    border: hidden;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    width: 100%;
    min-height: 41px;
    border-radius: 4px;
    padding: 7px 15px;
}

